/* styles */

$primary-color: #DC3522;
$secondary-color: #D9CB9E;

$white: #fff;
$grey-1: #f8f8f8;
$grey-2: #cccccc;
$grey-3: #6d7372;
$grey-4: #374140;
$grey-5: #2A2C2B;
$grey-6: #1E1E20;


$font-family: arial, sans-serif;


body { 
    font: 16px $font-family; 
    line-height: 1.5em;
    color: $grey-4; 
    margin: auto;
    background-color: $white;
    border: solid 2em $grey-5;
    border-top: 0;
    border-bottom: 2em;
}

@mixin heading($font-size) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: normal;
    font-style: normal;
    letter-spacing: .5px;
}

$h1-font-size: 3em;
$h2-font-size: 2.4em;
$h3-font-size: 1.8em;
$h4-font-size: 1.4em;
$h5-font-size: 1em;

h1 { @include heading($h1-font-size); }
h2 { @include heading($h2-font-size); }
h3 { @include heading($h3-font-size); }
h4 { @include heading($h4-font-size); }
h5 { @include heading($h5-font-size); }



p {
    font: 18px $font-family;
}


@mixin link-active {
    border-bottom: solid 1px $grey-6;
    text-decoration: none;
}


a {
    text-decoration: none; 
    color: $grey-4;

    &:hover, 
    &:focus {
        @include link-active;
    }

}


/* Navigation */

.nav {
    background-color: $secondary-color;

    ul {
        width: 100%;
        list-style-type: none;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.nav-label {
    display: inline-block;

    &:first-child {
        padding-left: 23px;
    }


    a {
        text-transform: uppercase;
        padding: 14px;

        &:focus,
        &:hover  {
            text-decoration: none;
            background-color: $secondary-color;
        }
    }
}

/* Basic Layout */

.header {
    background-color: $secondary-color;
    padding: 20px 0 10px 0;

    h1, 
    h2 {
        @include heading($h1-font-size); 
        color: $primary-color;
        display: inline-block;
        text-transform: uppercase;
    }

    h1 {
        font-weight: bold;
        margin-left: 20px;
    }
}

.container {
    padding: 20px;
}

.ux-lab-main {
    float: left;
    width: 60%;
    margin: 0 40px 40px 0;
    border-right: 1px solid #ccc;
    padding-right: 40px;
}

.sidebar {
    float: left;
    width: 30%;
    padding: 0;
}


/* Styles for each Rollercoaster */

.card {
    display: inline-block;
    padding: 20px;
    border: solid 1px $grey-1;
    border-radius: 10px;
    background-color: $grey-1;
    overflow: hidden;
    margin: 0 0 20px 0;

    &:last-child {
        margin: 0;
    }
}

.card-img {
    max-width: 300px;
    position: absolute;
}

.card-details {
    margin-left: 20em;
    float: right;
    text-align: left;

    $card-details-margin-bottom: .4em;

    p {
        margin-bottom: $card-details-margin-bottom;

        &:last-child {
            margin-bottom: $card-details-margin-bottom * 2;
        }
    }

    h3 {
        margin-bottom: $card-details-margin-bottom;
        font-weight: bold;
    }

    a {
        font-weight: normal;
    }

    h5 {
        margin-bottom: $card-details-margin-bottom;
        text-transform: uppercase;
        color: $primary-color;
    }
}

/* Styles for Sidebar */

.sidebar {
    h3 {
        color: $primary-color;
        margin: .4em 0;
    }
    p {
        color: $grey-3;
        font-size: 1em;
        line-height: 1.3em;
    }
}


/* Footer Styles */

.footer {
    padding: 1.2em;
    clear: both;
    background-color: $secondary-color;
    border-bottom: solid 4em $grey-5;

    $footer-font-size: .9em;


    h4 {
        font-size: $footer-font-size;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary-color;
    }

    p {
        font-size: $footer-font-size;

        a {
            border-bottom: solid 1px $grey-3;

            &:hover {
                @include link-active();
            }
        }

    }
}
