//@import "compass/reset";
@import "compass/css3/transition";

$grey1: #bfb9c3;
$primary-color: #000;
$secondary-color: #fff;
$h1-color: #732c24;

// Typography Settings
$font-family: sans-serif;
$base-text-size: 16px;
$margin: 30px;
$padding: 10px;



@mixin typography-labels($size: $base-text-size){
    font-size: $size;
    font-family: $font-family;
    letter-spacing: 1px;
}


@mixin buttons($background-color, $text-color) {

    @include typography-labels;

    display: inline-block;
    padding: 10px 20px;
    margin: $margin;
    text-transform: uppercase;
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $text-color;

    &:hover {
        background-color: $text-color;
        color: $background-color;
        border: 1px solid $background-color;

        @include single-transition(all, 0.2s, ease-in);
    }
}

body {
    font-family: $font-family;
}

h1.page-title {
    font-size: $base-text-size * 2;
    color: $h1-color;
    margin-bottom: $margin;
    padding-bottom: $padding;
    border-bottom:  1px solid $grey1;
}

a {
    text-decoration: none;
}


.primary-button {
    @include buttons($primary-color, $secondary-color);
}

.secondary-button {
    @include buttons($secondary-color, $primary-color);
}


.secondary-text-link {
    @include buttons($secondary-color, $primary-color);
}