@import "compass/reset";

// Color Palette Variables
$grey1: #bfb9c3;
$body-copy-color: #3b3b3b;
$page-title-color: #732c24;
$white: #f8f8f8;
$hover-color: #bf413c;

// Typography Settings
$font-family: Sans-serif;
$base-text-size: 16px;

$h1-font-size: 3em;
$h2-font-size: 2.4em;
$h3-font-size: 1.8em;
$h4-font-size: 1.4em;
$h5-font-size: 1em;

$margin: 30px;
$padding: 10px;

// Content Styles
body {
    font-family: $font-family;
    font-size: $base-text-size;
    color: $body-copy-color;
    margin: $margin;
}

h1.page-title {
    font-size: $base-text-size * 2;
    color: $page-title-color;
    margin-bottom: $margin;
    padding-bottom: $padding;
    border-bottom:  1px solid $grey1;
}

nav {
    background-color: $grey1;
    display: inline-block;

    a {
        font-family: $font-family;
        color: $body-copy-color;
        text-transform: uppercase;
        text-decoration: none;
        padding: $padding;
        margin: 0;

        &:focus,
        &:hover  {
            background-color: $hover-color;
            color: $white;
        }
    }
}

ul {
    list-style-type: none;
    padding: $padding 0;
    margin: 0;

    li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}



