

// Color Palette Variables
$grey1: #bfb9c3;
$white: #f8f8f8;

$body-copy-color: #3b3b3b;
$page-bg-color: $white;
$highlight-color: #ff6351;
$hover-color: #bf413c;
$h1-color: #732c24;

// Typography Settings
$font-family: Sans-serif;

$padding: 10px;

nav {
    background-color: $grey1;
    display: inline-block;

    a {
        font-family: $font-family;
        color: $body-copy-color;
        text-transform: uppercase;
        text-decoration: none;
        padding: $padding;
        margin: 0;

        &:focus,
        &:hover  {
            background-color: $hover-color;
            color: $white;
        }
    }


}

ul {
    list-style-type: none;
    padding: $padding 0;
    margin: 0;

    li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }


}



