// Color Palette Variables
$white: #f8f8f8;
$body-copy-color: #3b3b3b;
$page-bg-color: $white;
$hover-color: #bf413c;
$h1-color: #732c24;


// Typography Settings
$font-family: Sans-serif;


body {
    background-color: $page-bg-color;
    font-family: $font-family;
}

h1 {
    color: $h1-color;
}

h2, h3, h4, h5, {
    color: $body-copy-color;
}

h1:hover {
    color: $hover-color;
}