
ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
} 

.swatch {
	display: inline-block;
	text-indent: 0;
	border-radius: 10px;
	height: 100px;
	width: 100px;
	background-color: #ccc;
}

$base-palette: (
  'base': #ff6351,
  'colors': #cfdfe8 #bfb9c3 #cf9192 #ff6351 #bf413c #7f3128 #732c24
) !default;