/* styles */

$primary-color: #DC3522;
$secondary-color: #D9CB9E;

$white: #fff;
$grey1: #f8f8f8;
$grey2: #cccccc;
$grey3: #6d7372;
$grey4: #374140;
$grey5: #2A2C2B;
$grey6: #1E1E20;



$font-family: arial, sans-serif;

body { 
	font: 16px $font-family;
	line-height: 1.1em;
	color: $grey4; 
	margin: auto;
    background-color: $white;
    border: solid 2em $grey5;
    border-top: 0;
    border-bottom: 2em;
}

h1, h2, h3, h4 { 
	font: normal normal 1.4em $font-family;
	letter-spacing: 1px;
}

p {
	font: 18px/22px $font-family;
	text-align: left;
}

a {
	font-weight: bold; 
	text-decoration: none; 
	color: $grey4;

	&:hover, 
	&:focus, 
	&:active { 
		text-decoration: underline; 
		color: $grey6;
	}

}



/* Navigation */

.nav {
	text-align: left;
	background-color: $secondary-color;
}

.nav > ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 10px 0 10px 0;
	background-color: rgba(0, 0, 0, 0.05);
}

.nav-label {
	display: inline-block;

	&:first-child {
		padding-left: 23px;
	}


	a {
		text-transform: uppercase;
		padding: 10px 15px 10px 15px;

		&:focus,
		&:hover  {
			text-decoration: none;
			background-color: $secondary-color;
		}
	}
}

/* Basic Layout */

.header {
	background-color: $secondary-color;
	padding: 20px 0 10px 0;
}

.header > h1, .header > h2 {
	color: $primary-color;
	display: inline-block;
	font-size: 3em;
}

.header > h1 {
	font-weight: bold;
	margin-left: 20px;
	text-transform: uppercase;
}

.container {
	padding: 20px;
}

.ux-lab-main {
    float: left;
    width: 60%;
    margin: 0 40px 40px 0;
    border-right: 1px solid #ccc;
    padding-right: 40px;
}

.sidebar {
	float: left;
	width: 30%;
	padding: 0;
}


/* Styles for each Rollercoaster */

.card {
	display: inline-block;
	padding: 20px;
	border: solid 1px $grey1;
	border-radius: 10px;
	background-color: $grey1;
	overflow: hidden;
	margin: 0 0 20px 0;
}

.card:last-child {
    margin: 0;
}

.card > img {
    max-width: 300px;
    position: absolute;
}

.card-details {
	margin-left: 320px;
	float: right;
	text-align: left;
}

.card p {
	margin-bottom: 10px;
}

.card-details p:last-child {
	margin-bottom: 20px;
}

.card-details > h3 {
    margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 26px;
	line-height: 22px;
}

.card-details > h4 > a {
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
}

.card-details > h5 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: $primary-color;
	line-height: 22px;
}


/* Styles for Sidebar */

.sidebar > h3 {
    color: $primary-color;
	margin: 10px 0 10px 0;
}
.sidebar p {
	color: $grey3;
	font: 16px/22px $font-family;
}

/* Footer Styles */

.footer {
	padding: 20px;
	clear: both;
	background-color: $secondary-color;
    border-bottom: solid 4em $grey5;
}

.footer > h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color;
}

.footer > p, .footer > p > a {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}
.footer > p > a {
	border-bottom: solid 1px $grey3;
	text-decoration: none;
}

.footer > p > a:hover {
	border-bottom: solid 1px $grey6;
	text-decoration: none;
}



/* Responsive
/* Tablet & Mobile */

