/* styles */

/* Color Pallete
red: #DC3522;
tan: #D9CB9E;
grey0 #6d7372;
grey1: #374140;
grey2: #2A2C2B;
grey3: #1E1E20;

*/


html {
	margin: 0px;
	padding: 0px;
}

body { 
	font: 16px arial, sans-serif;
	line-height: 1.1em;
	color: #374140; 
	margin: auto;
	padding: 0px;
    background-color: #fff;
    border: solid 2em #2A2C2B;
    border-top: 0px;
    border-bottom: 2em;
}

h1, h2, h3, h4 { 
	font: normal normal 1.4em arial, sans-serif;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	color: #374140;
}

p {
	color: #6d7372;
	font: 18px/22px Arial, sans-serif;
	margin: 0px; 
	padding: 0px;
	text-align: left;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #374140;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #374140;
}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #1E1E20;
}


/* Navigation */

.nav {
	text-align: left;
	background-color: #D9CB9E;
}

.nav > ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 10px 0px 10px 0px;
	background-color: rgba(0, 0, 0, 0.05);
}

.nav-label {
	display: inline-block;
	text-transform: uppercase;
}

.nav-label > a {
	padding: 10px 15px 10px 15px;
}

.nav-label:first-child {
	padding-left: 23px;
}

.nav-label > a:focus, .nav-label > a:hover  {
	text-decoration: none;
	background-color: #D9CB9E;
}


/* Basic Layout */

.header {
	background-color: #D9CB9E;
	padding: 20px 0px 10px 0px;
}

.header > h1, .header > h2 {
	color: #DC3522;
	display: inline-block;
	font-size: 3em;
}

.header > h1 {
	font-weight: bold;
	margin-left: 20px;
	text-transform: uppercase;
}

.container {
	padding: 20px;
}

.ux-lab-main {
    float: left;
    width: 60%;
    margin: 0px 40px 40px 0px;
    border-right: 1px solid #ccc;
    padding-right: 40px;
}

.sidebar {
	float: left;
	width: 30%;
	padding: 0px;
}


/* Styles for each Rollercoaster */

.card {
	display: inline-block;
	padding: 20px;
	border: solid 1px #f8f8f8;
	border-radius: 10px;
	background-color: #f8f8f8;
	overflow: hidden;
	margin: 0px 0px 20px 0px;
}

.card:last-child {
    margin: 0px;
}

.card > img {
    max-width: 300px;
    position: absolute;
}

.card-details {
	margin-left: 320px;
	float: right;
	text-align: left;
}

.card p {
	color: #374140;
	margin-bottom: 10px;
}

.card-details p:last-child {
	margin-bottom: 20px;
}

.card-details > h3 {
    margin: 0px 0px 10px 0px;
	font-weight: bold;
	font-size: 26px;
	line-height: 22px;
}

.card-details > h4 > a {
    margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
}

.card-details > h5 {
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: normal;
    color: #DC3522;
	line-height: 22px;
}


/* Styles for Sidebar */

.sidebar > h3 {
    color: #DC3522;
	margin: 10px 0px 10px 0px;
}
.sidebar p {
	color: #6d7372;
	font: 16px/22px Arial, sans-serif;
}

/* Footer Styles */

.footer {
	padding: 20px;
	clear: both;
	background-color: #D9CB9E;
    border-bottom: solid 4em #2A2C2B;
}

.footer > h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #DC3522;
}

.footer > p, .footer > p > a {
    color: #374140;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
}
.footer > p > a {
	border-bottom: solid 1px #6d7372;
	text-decoration: none;
}

.footer > p > a:hover {
	border-bottom: solid 1px #1E1E20;
	text-decoration: none;
}



/* Responsive
/* Tablet & Mobile */

